<%provide(:title, 'About Us')%><!DOCTYPE html>

		<h1>About Us</h1>
		<h2> Save your shopping time and spend it your way!</h2>

<p>If you are tired of shopping and wish the stores were just a little smaller, you are not alone. If you are a shopaholic and wish you could get more in less time, you are not crazy. </p>

<p>StoreNav brings to you in-store navigator that helps you find your shortest way in the store. You select the store and you select the items and we will help you save your precious time.</p>

<p>Sign-up for StoreNav today and save more time to embrace life!</p>

<p>BECAUSE YOU CONTROL TIME!</p>

	