<%provide(:title, 'Contact')%>
<h1>Contact Us</h1>

<h3>We know that we are not perfect, but you can help us improve!</h3>
</br>
<p>Have any suggestions? Contact 000-000-0000</p>

<p>Want to get some help shopping? Contact 111-111-1111</p>

<p>Sign-up for StoreNav today and save more time to embrace life!</p>
