<%provide(:title, 'Help')%>
<h1>Help</h1>

<b><p>Need some help? Don't worry! We are here for you.</p></b>

<p>To know more about us, visit the About Us page.</p>

<p>To talk to our customer care, visit the Help page</p>

<p>Sign-up for StoreNav today and save more time to embrace life!</p>
