<%provide(:title, 'Home')%>
<img src = ".\public\images\grocery.jpg"/>
<h1>Store Nav</h1>
<div class="center hero-unit">
	<h1>Welcome to the Store Navigator</h1>
	<h2>More Shopping! Less Time!</h2>
	<%=link_to "Sign up now!", "#", class: "btn btn-large btn-primary"%>
</div>
