<div class="store list">
<h1>Stores</h1>
<table>
  <thead>
    <style>
      th,td
        {
          border:1px solid black;
        }
         table
        {
          border:2px solid black;
        }
    </style>
    <tr>
      <th>Name</th>
      <th>Location</th>
     </tr>
  </thead>

  <tbody>
    <% @stores.each do |store| %>
      <tr>
        <td><%= link_to(store.name,'/departments') %></td>
        <td><%= store.location %></td>
       </tr>
    <% end %>
  </tbody>
</table>

<br>

<!--<%= link_to 'Back', user_path(params[:id]) %>-->


