<%provide(:title, @user.name)%>
<div class="row">
	<aside class="span4">
		<section>
           <h1>
           	<%= @user.name %>
           		
			</h1>
		</section>
	</aside>		
</div>
<p>
  <strong>Email: </strong>
  <%= @user.email %>
</p>
<img src = "\images\grocery.jpg"/>
<%= link_to("Checkout our Stores", '/stores#index')%>

