<div class="store list">
<h1>Departments</h1>

<table>
  <thead>
    <style>
     th,td
        {
          border:1px solid black;
        }
         table
         {
          border:2px solid black;
        }
    </style>
    <tr>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @departments.each do |department| %>
      <tr>
        <td><%= link_to(department.name, '/items') %></td>
       </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back', stores_path %>


     


