

<h1>Listing departments</h1>

<table>
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>Name</th>
     </tr>
  </thead>

  <tbody>
    <% @departments.each do |department| %>
      <tr>
        <td><%= department.name %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>


